.divOrd_Select_Product{
	
	margin-bottom:3px; 
    margin-top:5px;
	margin-left:5px;
    
	
}

.divCsOrdQty{
	    margin-top:25px;

    margin-left:5px;

}

.divCsInventory{
	

    margin-top:15px;

    margin-left:5px;

    
	
}